# Игнорировать файлы и папки IDE
.vscode/
.idea/

# Игнорировать файлы, которые генерируются Docker
*.log
.env

# Игнорировать файлы, связанные с системой
__pycache__/
*.pyc
ve/

# Игнорировать всё, что не является частью исходного кода
*.tmp
*.bak
